<form
  class="form-horizontal custom-form"
  autocomplete="off"
  #createOrEditItemComponent="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]='l("CreateNewItem")'
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]='l("ItemDetail")' class="pt-3 px-2">
        <div class="form-group row required"> <!--ItemName -->
          <label class="col-md-3 col-form-label" for="itemName">
            {{l("ItemName")}}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="itemName"
              id="itemName"
              required
              [(ngModel)]="odsItem.itemName"
              #nameModel="ngModel"
              #nameEl
            />
            <abp-validation-summary
              [control]="nameModel"
              [controlEl]="nameEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row required"> <!--Price -->
          <label class="col-md-3 col-form-label" for="itemPrice">
            {{l("Price")}}
          </label>
          <div class="col-md-5">
            <input
              type="number"
              class="form-control"
              name="itemPrice"
              id="itemPrice"
              required
              maxlength="7"
              [(ngModel)]="odsItem.price"
              #priceModel="ngModel"
              #priceItemEl
            />
            <abp-validation-summary
              [control]="priceModel"
              [controlEl]="priceItemEl"
            ></abp-validation-summary>
          </div>
          <div class="col-md-4">
            <p-dropdown [options]="listDiscount" [(ngModel)]="selectedDiscount" (onChange)="onDiscountChange()" class="cus_discount" optionLabel="label" [showClear]="true" [placeholder]='l("SelectDiscount")' [ngModelOptions]="{ standalone: true }"></p-dropdown>
          </div>

        </div>
         <div class="form-group row required"> <!--danh mục -->
          <label class="col-md-3 col-form-label" for="category">
            {{l("Category")}}
          </label>
          <div class="col-md-5 required">
            <p-multiSelect
              id="category"
              [options]="listCategory"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="odsItem.categoryIds"
              (onChange)="onCategoriesChange($event)"
              optionLabel="label"
              name="category"
              required
              #categoryEl
              #categoryMode="ngModel"
              [placeholder]='l("SelectCategory")'>
            </p-multiSelect>
              <abp-validation-summary
              [control]="categoryMode"
              [controlEl]="categoryEl.el.nativeElement"
            ></abp-validation-summary>
          </div>

          <div class="col-md-4 cus_checkbox"> <!--is display -->
              <p-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="odsItem.isDisplay" [binary]="true" inputId="binary" ></p-checkbox>
              <label class="cus_checkbox_label" for="binary">{{ l("AddMenuNow") }}</label>
          </div>
        </div>
        <div class="form-group row"> <!--Description -->
          <label class="col-md-3 col-form-label">
            {{ l("Description") }}
          </label>
          <div class="col-md-9 mt-2 ">
              <div class="mb-3 p-float-label">
                <textarea id="float-input" rows="1" [ngModelOptions]="{ standalone: true }" class="form-control" pInputTextarea [(ngModel)]="odsItem.sortDescription" ></textarea>
                <label for="float-input">{{l("DescriptionSort")}}</label>
              </div>
              <div class="mb-3 p-float-label cus_descript" >
                <textarea id="float-input" rows="3" [ngModelOptions]="{ standalone: true }" class="form-control" pInputTextarea [(ngModel)]="odsItem.longDescription"></textarea>
                <label for="float-input">{{l("DescriptionLong")}}</label>
              </div>
          </div>
        </div>
         <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="imageItem">
            {{ l("ImageItem") }}
          </label>
          <div class="col-md-9">
            <p-fileUpload  url="https://www.primefaces.org/cdn/api/upload.php" [multiple]="true" accept="image/*" maxFileSize="1000000">
              <ng-template pTemplate="content">
                  <!-- <ul *ngIf="uploadedFiles.length">
                      <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                  </ul> -->
              </ng-template>
            </p-fileUpload>
          </div>
        </div>
        <!--<div class="form-group row mb-0">
          <label class="col-md-3 col-form-label">
            {{ "IsActive" | localize }}
          </label>
          <div class="col-md-9">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                name="isActive"
                id="isActive"
                [(ngModel)]="user.isActive"
              />
              <label class="custom-control-label mt-2" for="isActive"></label>
            </div>
          </div>
        </div> -->
      </tab>
    </tabset>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createOrEditItemComponent.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
